<%- include('partials/header.ejs') %>

	<h3 class="title">About This Project</h3>

	<div class="myContainer about-text text" style="padding: 10px 7rem;">
		<p style="font-weight: 500;">
			This project is a fully functional and responsive app where I can keep track of the books I've read. I can
			add a star rating and leave a review. My books are stored in a Postgres database and I'm using Open Library
			API to be able to search for books and get inportant information like titles, authors and book covers.</p>

		<p style="font-weight: 500;">
			This project is part of the web course <strong>"The Complete Full-Stack Web Development Bootcamp"</strong> Made by
			The App Brewery. It's available on 
			<a class="my-links" href="https://www.udemy.com/share/1013gG3@trCxiNCaWDKxEWGePtqm9vBNp0Lm1tfZeiWTZvnhWp0szwXjfiMMwp_6cCWS2zVRvQ==/">Udemy</a>
		</p>


		<h3 class="title">Made with</h3>
		<div class="made-with">
			<img class="row-auto" src="/assets/Node.js_logo.svg" alt="nodejs logo">
			<img class="row-auto" src="/assets/Bootstrap_logo.svg" alt="bootstrap logo">
			<img class="row-auto" src="/assets/postgresql-logo.svg" alt="postgres logo">
		</div>
	</div>
	<%- include('partials/footer.ejs') %>