<%- include('partials/header.ejs') %>

	<h3 class="title">About This Project</h3>

	<div class="myContainer about-text text" style="padding: 10px 7rem;">
		<p style="font-weight: 500;">
			This project is a fully functional and responsive app where users can keep track of the books they've read. Users can add, edit and delete reviews.
		<br>
		<br>
			This was originally an assignment from the Udemy web course <strong><em>"The Complete Full-Stack Web Development Bootcamp"</em></strong> We were given full creative control and no starting code. The goal was to integrate an API and a PostgreSQL database into a real project.
		</p>

		<h3 class="title">Made with</h3>
		<div class="made-with">
			<img class="row-auto" src="/assets/Node.js_logo.svg" alt="nodejs logo">
			<img class="row-auto" src="/assets/Bootstrap_logo.svg" alt="bootstrap logo">
			<img class="row-auto" src="/assets/postgresql-logo.svg" alt="postgres logo">
			<img class="row-auto" src="/assets/icons8-express-js.svg" alt="express logo">
			<img class="row-auto" src="/assets/supabase-original.svg" alt="supabase logo">
		</div>
	</div>
	<%- include('partials/footer.ejs') %>