@media (max-width: 600px) {
	.myContainer-cards {
		gap: 0;
		margin: 0;
	}
	/***************** Details Page **************/
	div.details {
		flex-direction: column;
	}

	.left-side {
		width: 100%;
		max-height: 500px;
	}

	.details-img {
		height: 100%;
	}

	.right-side {
		width: 100%;
	}

	.text.row {
		width: 100%;
	}

	/********** Book Cards ************/
	.card {
		min-height: 402px;
	}

	.book-card {
		width: 10rem;
		height: 21rem;
	}

	.book-cover-container {
		height: 166px;
	}

	.card-title {
		font-size: 1rem;
	}

	/******** index page ***********/
	.sort-container {
		padding: 0 1.3rem;
	}

	/********* Edit and Add form *********/
	.add-form {
		width: 100%;
	}

}
